.modal_reset_password {
  .modal_title {
    display: flex;
    align-items: center;
    .icon {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      background: var(--cs-primary-bg-color);
      border-radius: 50%;
      span {
        svg {
          color: var(--cs-primary-color);
        }
      }
    }
    p {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      color: #384250;
    }
  }
  .modal_body {
    padding: 12px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #6c737f;
    span {
      font-weight: 700;
    }
  }

  .btn_cancel {
    width: 120px;
    height: 40px;
    border-radius: 38px;
    border: unset;
    font-weight: 600;
    font-size: 16px;
    &:hover {
      background-color: #e9ecef;
      color: #000000;
    }
  }
  .btn_delete {
    width: 120px;
    height: 40px;
    border: unset;
    background-color: var(--cs-primary-color);
    color: #ffffff;
    border-radius: 38px;
    font-weight: 600;
    font-size: 16px;
    &:hover {
      color: #ffffff;
    }
  }
}
