.dropdown_bulk {
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 38px;
  border: 1px solid var(--cs-primary-color);
  cursor: pointer;

  p {
    font-weight: 600 !important;
    font-size: 16px !important;
    color: var(--cs-primary-color) !important;
  }
  svg {
    margin-left: 8px;
    color: var(--cs-primary-color);
  }
}
