.confirm_modal {
  button {
    // font-size: 20px;
  }
}

.header {
  display: flex;

  .icon {
    background: #FFF5F5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #ff3b30;
    }
  }

  .title {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
  }
}