.container {
  padding: 12px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #e5e5e5;

  .label_disabled {
    color: rgba(0, 0, 0, 0.3);
  }

  .insert_field_btn {
    > button {
      &:hover {
        color: #ffffff !important;
      }
    }
  }

  .update_field_btn {
    flex: 1;

    > button {
      width: 100%;

      &:hover {
        color: #ffffff !important;
      }
    }
  }

  .cancel_update_field_btn {
    flex: 1;
    margin-left: 10px;

    > button {
      background: #ffffff;
      color: #384250;
      border: 1px solid #f0f0f0;
      width: 100%;

      &:hover {
        color: #384250 !important;
        border-color: #f0f0f0 !important;
      }
    }
  }

  .modify_btn {
    background: #ffffff;
    border: 1px solid #d9d9d9 !important;
    color: #384250;
    padding: 8px 24px !important;
    font-size: 14px !important;
    line-height: 20px !important;

    &:hover {
      background: #ffffff;
      color: #384250;
    }
  }
}

.modal_footer {
  button {
    font-size: 16px;
    height: 40px;
    padding: 8px 24px;
    font-weight: 600;
    border-radius: 38px;
    border: none;
  }
  .cancel_btn {
    color: #384250;

    &:hover {
      color: #384250;
    }
  }

  .remove_btn {
    background: #ff3b30;
    color: #ffffff;
    
    &:hover {
      color: #ffffff !important;
    }
  }
}

.list_options_container {
  div[class="ant-list-empty-text"] {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
  }
  ul {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    height: 189px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #e5e7eb;
      border-radius: 8px;
    }

    li {
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
  }

  .label {
    flex: 1;
    padding-bottom: 8px;
  }

  .sort_btn {
    margin-left: 5px;
    cursor: pointer;
    color: #6c737f;
  }
  .sort_btn.selected {
    color: rgba(0, 0, 0, 0.88);
  }
}

.option_input_container {
  > button {
    margin-top: 0.5rem !important;
    &:hover {
      color: #ffffff !important;
    }
  }
}

.option_input {
  height: 40px;
}

.csv_btns {
  display: flex;
  align-items: center;
  > a {
    margin-right: 12px;
    text-decoration: none;
  }
  > a:hover {
    text-decoration: underline;
  }
}
