.secure_modal {
  .modal_title {
    display: flex;
    align-items: center;
    img {
      width: 48px;
      height: 48px;
    }
    p {
      margin: 0;
      margin-left: 12px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #384250;
    }
  }

  .modal_body {
    .main_title {
      margin-top: 26px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: #384250;
    }

    .sub_title {
      margin-top: 4px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #9da4ae;
    }
    input {
      margin-top: 8px;
    }

    .account {
      background-color: var(--cs-primary-bg-color);
      border-radius: 8px;
      padding: 18px 18px;
    }
  }
}

.buttons_container {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin: 24px 0px;

  .cancel_btn {
    width: 140px;
    height: 40px;
    color: var(--cs-primary-color);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: none;
  }

  .apply_btn {
    margin-left: 20px;
    width: 140px;
    height: 40px;
    color: #f7f8fa;
    background-color: var(--cs-primary-color);
    border-radius: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
}
