.modal_header {
  .icon_box {
    width: 48px;
    height: 48px;
    padding: 14px;
    border-radius: 38px;
    background: var(--cs-primary-bg-color);
    margin-right: 12px;

    > span {
      vertical-align: 2px;
      padding-left: 3px;
    }

    span {
      color: var(--cs-primary-color);
    }
  }

  .modal_title {
    color: #384250;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  .modal_desc {
    color: #6c737f;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.closed_icon {
  color: var(--cs-primary-color);
}

.showPwIcon {
  cursor: pointer;
  line-height: 0;
  color: #6c737f;
}

.form_item {
  label {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 20px;
    color: #384250 !important;
  }
}

.input {
  height: 40px;
}

.modal_footer {
  .cancel_button {
    border: none;
    box-shadow: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--cs-primary-color);

    &:hover {
      color: var(--cs-primary-color);
    }
  }
}
